{% extends 'base.html' %}

{% block content %}
<form method="POST" action="{{ url_for('.register', next=request.args.get('next')) }}">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.first_name.label }}<br>
        {{ form.first_name(class='form-control') }}
        {% for error in form.first_name.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.last_name.label }}<br>
        {{ form.last_name(class='form-control') }}
        {% for error in form.last_name.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.email.label }}<br>
        {{ form.email(class='form-control') }}
        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password1.label }}<br>
        {{ form.password1(class='form-control') }}
        {% for error in form.password1.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password2.label }}<br>
        {{ form.password2(class='form-control') }}
        {% for error in form.password2.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="{{ form.remember_me.id }}" name="{{ form.remember_me.name }}">
        <label class="form-check-label" for="{{ form.remember_me.id }}">{{ form.remember_me.label }}</label>
        {% for error in form.remember_me.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </div>
    {{ form.submit(class='btn btn-primary') }}
</form>
{% endblock %}
