<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('mainmodule.main_page') }}">
            <img src="static/img/blood.png" alt="Logo" width="50" height="50" class="mr-2 align-middle">
            <h1 class="d-inline align-middle">Дневник диабетика</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('mainmodule.main_page') }}">Главная</a>
                </li>
                {% if session.user_id %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Дневник</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Статистика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('mainmodule.logout') }}">Выйти</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('mainmodule.login') }}">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('mainmodule.register') }}">Зарегистрироваться</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
