<head>
    <meta charset="UTF-8">
    {% if not title %}
    {% set title='Дневник диабетика' %}
    {% endif %}
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/blood.png') }}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/diabetesdiary.css') }}">
    <script src="{{ url_for('static', filename='js/diabetesdiary.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
